<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.bitcraze.crazyfliecontrol2"
    android:versionCode="13"
    android:versionName="0.6.4" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.bitcraze.crazyfliecontrol2.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="se.bitcraze.crazyfliecontrol.prefs.PreferencesActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.bitcraze.crazyfliecontrol2.MainActivity" />
        </activity>
        <activity
            android:name="se.bitcraze.crazyfliecontrol.bootloader.BootloaderActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            android:label="@string/title_activity_bootloader"
            android:parentActivityName="se.bitcraze.crazyfliecontrol.prefs.PreferencesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.bitcraze.crazyfliecontrol.prefs.PreferencesActivity" />
        </activity>
    </application>

</manifest>
